* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  position: relative;
  width: 100%;
  padding-top: 40px;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(119, 119, 119);
  background-color: #fff;
}

.topbar-logo {
  display: inline-block;
  background: url("https://static.straitstimes.com.sg/sites/all/themes/custom/bootdemo/images/st-masthead--sprite.png");
  background-size: 186px;
  height: 15px;
  width: 177px;
  vertical-align: middle;
}

.topbar-menu {
  float: right;
}

.topbar-menu:link,
.topbar-menu:hover,
.topbar-menu:active,
.topbar-menu:visited {
  color: #000;
  text-decoration: none;
}

.category-header {
  padding: 5px 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.375em;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.advertisement-section {
  padding: 10px;
  background: rgb(237, 237, 245);
  border-top: 1px solid rgb(119, 119, 119);
  border-bottom: 1px solid rgb(119, 119, 119);
}

.ad {
  background-color: white;
  height: 50px;
  width: 250px;
  flex-basis: 250px;
}

@media screen and (min-width: 768px) {
  .ad {
    height: 100px;
    width: 500px;
    flex-basis: 500px;
  }
}

.ad:link,
.ad:hover,
.ad:visited,
.ad:active {
  color: #000;
  text-decoration: none;
}

.top-stories {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid rgb(119, 119, 119);
  margin-top: 0.5em;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.container {
  padding: 0 10px;
}

.article-title {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}

.article-subtitle {
  font-size: 1.125em;
  font-weight: normal;
  color: rgb(119, 119, 119);
}

/* Utility Classes */
.margin-top-5 {
  margin-top: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.border-bottom-gray {
  border-bottom: 1px solid rgb(119, 119, 119);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.imgresponsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}
